@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.first {
    background-color: #1F2937;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .right-header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.hero-text-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text-second {
    font-size: 18px;
    color: #E5E7EB;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
    border: 1px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

.advertisement {
    display: flex;
    justify-content: space-between;
}

.advertisement .text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;

}

.information-header-text {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 100px;
    width: 100vw;
}

.card {
    flex: 1;
}

